zsh/.config/zsh/plugins/
zsh/.config/zsh/.zcompdump
zsh/.config/zsh/.zcompdump*
nvim/.config/nvim/lazy-lock.json
ranger/.config/ranger/plugins/devicons2/__pycache__
ranger/.config/ranger/plugins/__pycache__

mpd/.config/mpd/mpd.db
mpd/.config/mpd/mpdstate
mpd/.config/mpd/socket*
*.m3u

ncmpcpp/.config/ncmpcpp/lyrics
