@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.icons.blinking-text {
  color: red;
}

.blinking-text {
  color: red;
  animation: blink 0.5s infinite;
}
