.power-button {
  border-radius: 1em;
  border: 0.1em solid rgba(255, 255, 255, 0.5); 
  background-color: rgba(47, 53, 75, 0.75); 
}

.power-label {
  font-size: 0.6em;
  margin-bottom: 1em;
}

.power-icon {
  font-size: 3em;
}
