.tray {
  padding: 0 0.5em;
  color: #FDFDFD;
  background-color: rgba(97, 97, 97, 0.75);
  border-radius: 2em;
  min-height: 2em;
}


.tray menu {
  padding: 0.4em; 
  background-color: rgba(47, 53, 75, 0.95);

  >menuitem {
    padding: 0.2em 0.4em;
    color: #FDFDFD;

    &:disabled label {
      color: #585b70; 
    }

    &:hover {
      background-color: #8897F4;
      color:  #8897F4;
    }

    /* -gtk-icon-source: -gtk-icontheme("object-select-symbolic"); */
    radio {
      color: #585b70;
      min-width: 1em;
      min-height: 1em;
      padding-right: 0.5em;
      -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
    }
    check {
      color: #585b70;
      min-width: 1em;
      min-height: 1em;
      padding-right: 0.5em;
      -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
    }

    radio:checked {
      -gtk-icon-source: -gtk-icontheme("radio-checked-symbolic");
      color: #8897F4;
    }
    check:checked {
      -gtk-icon-source: -gtk-icontheme("checkbox-checked-symbolic");
      color: #8897F4;
    }

    arrow {
      min-height: 0.3em;
      min-width: 0.3em;
      &:dir(ltr) {
        -gtk-icon-source: -gtk-icontheme("pan-end-symbolic");
        margin-left: 0.4em;
        margin-right: 0;
      }
    }
  }

  separator {
    background-color: #45475a;
    padding-top: 1px;

    &:last-child {
      padding: unset;
    }
  }
}


