.workspaces {
  margin-right: 1em;
  background-color: rgba(97, 97, 97, 0.75);
  border-radius: 2em;
}

.workspaces label {
  /* min-width: 2em; */
  /* border-radius: 0.5em; */
  /* padding: 0.3em 0.5em; */
  /* margin: 0 0.15em; */
  /* transition: background 0.2s ease; */
  font-size: 1.2em;
  margin: -0.2em;
  /* border-bottom: 0.4em solid white; */
  /* border-top: 0.4em solid rgba(0,0,0,0); */
}

.workspaces label.active {
  /* font-weight: bold; */
  /* background-color: rgba(47, 53, 75, 0.75); */
  border-bottom: 0.4em solid #A5DEE5;
  border-top: 0.4em solid rgba(0,0,0,0);
  color: #A5DEE5;
}

